@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #134e75;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;  
    transition: 0.6s;
    background: url(../IMGS/BG.jfif);
}

header.sticky {
    padding: 5px 100px;
    background: #0c0a48;
}

header.sticky h2 {
    color: #fff;
}
header.sticky nav a {
    color: #fff;
}
header.sticky .navigation a:hover {
    border-bottom: 2px solid #fff;
}

.logo {
    font-size: 2.4em;
    cursor: default;
    color: #fff;
    transition: 0.6s;
    margin-left: -600px;
}

.home {
    height: 50px;
    width: 50px;
}

.navigation a {
    color: #fff;
    font-size: 1.1em;
    margin-left: 12px;
    text-decoration: none;
    padding: 6px 15px;
    font-weight: 600;
    border-radius: 20px;
    transition: 0.6s;
}

.navigation a:hover {
    border-bottom: 2px solid #fff;
}

.hero {
    position: relative;
    margin-left: 225px;
    margin-bottom: 50px;
} 

.content {
    width: 500px;
    margin-left: -750px;
    color: #fff;
    text-align: left;
    letter-spacing: .1cm;
    text-shadow: 0 0 10px rgba(0, 0, 0, .8);
}

.intro {
    margin: 150px auto;
    width: 70%;
}

.intx {
    width: 1100px;
    align-content: center;
    text-align: justify;
    text-indent: 50px;
    margin-top: 120px;
    color: #fff;
    font-size: 40px;
    font-weight: 500;
}

.intd {
    width: 1100px;
    align-content: center;
    text-align: justify;
    text-indent: 50px;
    margin-top: 30px;
    color: #fff;
    font-size: 20px;
}

.mid {
    width: 1100px;
    align-content: center;
    text-align: justify;
    text-indent: 50px;
    margin-top: 15px;
    color: #fff;
    font-size: 20px;
}

.list {
    margin-left: 175px;
    width: 700px;
    font-size: 20px;
}

.midd {
    width: 1100px;
    align-content: center;
    text-align: justify;
    text-indent: 50px;
    margin-top: 14px;
    color: #fff;
    font-size: 20px;
}

.center {
    margin-top: 40px;
    width: 600px;
    margin-left: 240px;
    border: 1px solid darkblue;
}

.wrapper {
    margin-top: -125px;
    margin-left: 100px;
    width: 1100px;
}

.wrapper a {
    text-decoration: underline;
    color: #fff;
}

.wrapper h2 {
    margin-top: 100px;
}

.wrapper1 {
    margin-top: 30px;
    margin-left: 100px;
    width: 1100px;
    text-align: justify;
    font-size: 20px;
}

.wrapper2 {
    margin-top: 20px;
    margin-left: 100px;
    width: 1100px;
}

.wrapper3 {
    margin-top: 20px;
    margin-left: 100px;
    width: 1100px;
}

.wrapper4 {
    margin-top: 70px;
    margin-left: 100px;
    width: 1100px;
}

.wrapper5 {
    margin-top: 70px;
    margin-left: 100px;
    width: 1100px;
}

.wrapper6 {
    margin-top: 70px;
    margin-left: 100px;
    width: 1100px;
}

.wrapper7 {
    margin-top: 70px;
    margin-left: 100px;
    width: 1100px;
}

.left {
    max-width: 320px;
    float: left;
    border: 3px solid darkblue;
    border-radius: 10px;
    margin-right: 15px;
}

.right {
    max-width: 320px;
    float: right;
    border: 3px solid darkblue;
    border-radius: 10px;
    margin-right: 15px;
}

.left1 {
    width: 600px;
    justify-content: center;
    align-content: center;
    float: none;
    border: 3px solid darkblue;
    border-radius: 10px;
    margin-left: 240px;
    margin-top: 30px;
}

.left2 {
    width: 250px;
    justify-content: center;
    align-content: center;
    float: none;
    border: 1px solid darkblue;
    border-radius: 10px;
    margin-left: 390px;
    margin-top: 30px;
}